body {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

@keyframes rotation {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes rotateZ{
  from{
    transform: rotateZ(0);
  }
  to{
    transform: rotateZ(360deg);
  }
}

#otaku{
  animation: rotation 0.1s linear infinite;
}

#friend{
  animation: rotateZ 0.5s linear infinite;
}